{% extends 'base.html.twig' %}

{% block body %}
    <h1>Emprestimo</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ emprestimo.id }}</td>
            </tr>
            <tr>
                <th>Descricao</th>
                <td>{{ emprestimo.descricao }}</td>
            </tr>
            <tr>
                <th>Tipo</th>
                <td>{{ emprestimo.tipo }}</td>
            </tr>
            <tr>
                <th>Duracao</th>
                <td>{{ emprestimo.duracao }}</td>
            </tr>
            <tr>
                <th>Data</th>
                <td>{% if emprestimo.data %}{{ emprestimo.data|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('emprestimo_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('emprestimo_edit', { 'id': emprestimo.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
