{% extends 'base.html.twig' %}

{% block body %}
    <h1>Paragenese list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Descricao</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for paragenese in paragenese %}
            <tr>
                <td><a href="{{ path('paragenese_show', { 'id': paragenese.id }) }}">{{ paragenese.id }}</a></td>
                <td>{{ paragenese.nome }}</td>
                <td>{{ paragenese.descricao }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('paragenese_show', { 'id': paragenese.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('paragenese_edit', { 'id': paragenese.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('paragenese_new') }}">Create a new paragenese</a>
        </li>
    </ul>
{% endblock %}
