{% extends 'base.html.twig' %}

{% block body %}
    <h1>Localizacaoamostras list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for localizacaoamostra in localizacaoamostras %}
            <tr>
                <td><a href="{{ path('localizacaoamostra_show', { 'id': localizacaoamostra.id }) }}">{{ localizacaoamostra.id }}</a></td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('localizacaoamostra_show', { 'id': localizacaoamostra.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('localizacaoamostra_edit', { 'id': localizacaoamostra.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('localizacaoamostra_new') }}">Create a new localizacaoamostra</a>
        </li>
    </ul>
{% endblock %}
