{% extends 'base.html.twig' %}

{% block body %}
    <h1>Transparencium</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ transparencium.id }}</td>
            </tr>
            <tr>
                <th>Nome</th>
                <td>{{ transparencium.nome }}</td>
            </tr>
            <tr>
                <th>Descricao</th>
                <td>{{ transparencium.descricao }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('transparencia_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('transparencia_edit', { 'id': transparencium.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
