{% extends 'base.html.twig' %}

{% block body %}
    <h1>Categoriaevento</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ categoriaevento.id }}</td>
            </tr>
            <tr>
                <th>Categoria</th>
                <td>{{ categoriaevento.categoria }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('categoriaevento_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('categoriaevento_edit', { 'id': categoriaevento.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
