{% extends 'base.html.twig' %}

{% block body %}
    <h1>Habitoamostras list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for habitoamostra in habitoamostras %}
            <tr>
                <td><a href="{{ path('habitoamostra_show', { 'id': habitoamostra.id }) }}">{{ habitoamostra.id }}</a></td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('habitoamostra_show', { 'id': habitoamostra.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('habitoamostra_edit', { 'id': habitoamostra.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('habitoamostra_new') }}">Create a new habitoamostra</a>
        </li>
    </ul>
{% endblock %}
