{% extends 'base.html.twig' %}

{% block body %}
    <h1>Habitoamostra</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ habitoamostra.id }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('habitoamostra_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('habitoamostra_edit', { 'id': habitoamostra.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
