{% extends 'base.html.twig' %}

{% block body %}
    <h1>Medida</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ medida.id }}</td>
            </tr>
            <tr>
                <th>Espessura</th>
                <td>{{ medida.espessura }}</td>
            </tr>
            <tr>
                <th>Altura</th>
                <td>{{ medida.altura }}</td>
            </tr>
            <tr>
                <th>Comprimento</th>
                <td>{{ medida.comprimento }}</td>
            </tr>
            <tr>
                <th>Largura</th>
                <td>{{ medida.largura }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('medida_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('medida_edit', { 'id': medida.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
