{% extends 'base.html.twig' %}

{% block body %}
    <h1>Formadoscristaisamostras list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for formadoscristaisamostra in formadoscristaisamostras %}
            <tr>
                <td><a href="{{ path('formadoscristaisamostra_show', { 'id': formadoscristaisamostra.id }) }}">{{ formadoscristaisamostra.id }}</a></td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('formadoscristaisamostra_show', { 'id': formadoscristaisamostra.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('formadoscristaisamostra_edit', { 'id': formadoscristaisamostra.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('formadoscristaisamostra_new') }}">Create a new formadoscristaisamostra</a>
        </li>
    </ul>
{% endblock %}
