{% extends 'base.html.twig' %}

{% block body %}
    <h1>Sistemacristalino</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ sistemacristalino.id }}</td>
            </tr>
            <tr>
                <th>Nome</th>
                <td>{{ sistemacristalino.nome }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('sistemacristalino_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('sistemacristalino_edit', { 'id': sistemacristalino.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
