{% extends 'base.html.twig' %}

{% block body %}
    <h1>Elementoquimico</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ elementoquimico.id }}</td>
            </tr>
            <tr>
                <th>Elemento</th>
                <td>{{ elementoquimico.elemento }}</td>
            </tr>
            <tr>
                <th>Simbolo</th>
                <td>{{ elementoquimico.simbolo }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('elementoquimico_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('elementoquimico_edit', { 'id': elementoquimico.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
