{% extends 'base.html.twig' %}

{% block body %}
    <h1>Parageneseamostras list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for parageneseamostra in parageneseamostras %}
            <tr>
                <td><a href="{{ path('parageneseamostra_show', { 'id': parageneseamostra.id }) }}">{{ parageneseamostra.id }}</a></td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('parageneseamostra_show', { 'id': parageneseamostra.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('parageneseamostra_edit', { 'id': parageneseamostra.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('parageneseamostra_new') }}">Create a new parageneseamostra</a>
        </li>
    </ul>
{% endblock %}
